/*                .ui-resizable-handle {
                    background-color: wheat;
                }*/

div.dokuwiki .pagename {font-size: 80% !important}
.page .ui-resizable-handle.jui-preview { background-color: wheat; }
                
div.dokuwiki pre.code {
  font-size: 110%;
  line-height: 110%;
}

#logo_image_left {
    float: left;
    width: 60px;
    height: 36px;
    margin: -6px 10px -8px -2px;
    background-image: url(images/logo.gif);
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
    opacity: 1 !important;
}

.ui-icon-none { background-position: -240px -224px; }

button.pk_jui_marker { background-color: darkred !important; }


.jui-icon-left {
    width: 16px;
    height: 16px;
    background-image: url(images/dw/ui-icons_888888_256x240.png);
    float: left;
    z-index: 999;
}
.jui-icon-right {
    width: 16px;
    height: 16px;
    background-image: url(images/dw/ui-icons_888888_256x240.png);
    float: right;
    z-index: 999;
}
.jui-ohidden {overflow: hidden !important;}
.jui-abs-se {
    position: absolute;
    right: 0;
    bottom: 0;
}
.jui-abs-nw {
    position: absolute;
    left: 0;
    top: 0;
}
.jui-abs-n2w {
    position: absolute;
    left: 0;
    top: 3px;
}

/*        .ui-state-default>.jui-tb-icon { display: none; }
        .ui-state-active>.jui-tb-icon { display: block; }*/
.ui-state-default>.jui-tbwrench { display: none; }
.ui-state-active>.jui-tbwrench { display: block; }



/* Toolbar / selection-list
   - juitabs::booktabs
----------------------------------*/
.jui-toolbar>div {float:left}
.jui-tb-pgof {
    width: 40px;
    font-size: 70%;
    text-align: center;
    float:left;
}
.jui-toolbar > .jui-sellist {
    position: absolute;
    background-color: #ffd;
    border: 2px solid #AAAAAA;
    font-size: 90%;
    z-index: 999999;
}
.jui-sellist-title { padding-left:6px; background-color:#DEE7EC; }
.jui-sellist-body { font-weight:normal; height: 281px; overflow: auto; }
.jui-sellist-body > ul { 
    margin: 0 0 0 20px !important; 
    padding: 2px 2px 2px 6px !important;
}
.jui-float-none { float: none !important; }
.jui-float-left { float: left !important; }
.jui-float-right { float: right !important; }
.jui-sellist-body .jui-sellist-lispan { margin-right: 24px; }
.jui-sellist-pointer { background-color: #E0E0E0 !important; cursor: pointer }
.jui-sellist-current {color: navy;}
.jui-sellist-li.jui-sellist-current.jui-float-none {background-color: #F0F0F0;}

.juitabs-header-ul.jui-booktabs>.juitabs-header-li {
    position: absolute !important;
    left: -10000px !important;
}

/* Sidebar-Toggler: sbt
----------------------------------*/
#jui_sbtoggler {
    float: left;
    width: 16px;
    background: none repeat scroll 0 0 #F9EFE4;
    border-right: 1px solid #CCCCCC;
    cursor: pointer; 
}
.jui_sbt_marker { background-color: wheat !important; }
.jui_sbt_marker2 { background-color: orange !important; }
.jui_sbt_marker3 { background-color: powderblue !important; }
.jui_sbt_pcontent { padding: 0.5% 0 0.5% 1% !important; }
#jui_sbt_wrap { position:relative; }
.jui_sbt_slide {
    background-color: #F9EFE4;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
}

/*dialog*/
.ui-widget-overlay {
    opacity: 0.5;
    filter: alpha(opacity=50);
} 
.juidialog { font-size: 0.9em !important; }
.juidialog .ui-dialog-titlebar { padding: 1px 4px 1px 14px !important; }
.juidialog .ui-dialog-buttonpane { padding: 4px 0.4em !important; }
.juidialog .ui-button { margin: 0 4px 0 !important; }
.juidialog .ui-resizable-se {
    margin: 0 !important;
    bottom: 0 !important;
    height: 12px !important;
    right:  0 !important;
    width:  12px !important;
}
.juidialog .juitabs-wizard .juitabs-header-ul { 
    background-color: #E0E0E0;
    background-image: none;
    -moz-border-radius: 0 !important;
    border: none;
    padding-bottom: 1px;
}
.juidialog .juitabs-wizard .juitabs-content { 
    padding: 1em;
}
.juidialog .jui-sellist-title {height: 23px;}
.juidialog div.preview {
    background-color: #F5F5F5;
    border: 1px dashed #333333;
    margin: 0 0 0 20px;
    padding: 4px;
}


.juidialog label.block input.edit { width: 60% !important; }
.juidialog .juiradio, .juidialog .juicheck { padding: 0 0 0 2em !important; }
.juidialog .juitext { padding: 0 4em 0 2em !important; }
.juidialog .juiradio form { 
    display: block;
    text-align: left;
    width: 240px;
}
.juidialog .juiradio fieldset {
    text-align: left;
    width: 240px;
}
.juidialog .juiradio fieldset label { 
    display: block; 
    margin: 0.3em 1em;
}
.juidialog .juiradio fieldset .quickselect { 
    margin: -5px 0 0 18px; 
    min-width: 70%;
    max-width: 95%;
}
.juidialog label.simple { margin-top: 0.3em; }
.juidialog .juilayout-wizard .juilayout-pane { z-index: 1960 !important; }
.juidialog .juilayout-wizard .juitabs-content { z-index: 1961 !important; }

.juidialog div.juitable { display:table; width:90%; }
.juidialog div.juitr { display:table-row; }
.juidialog div.juitd { display:table-cell; border:none; padding:0 10px 0 0; }

/*.juidialog button.ui-state-hover { background-color: khaki !important; }*/
/*.juidialog .ui-widget-header {background-color: khaki !important;}*/

